{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'brassin/css/style.css' %}" />
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="page-header">Achats</h1>
  </div>
</div>

<a class="btn btn-info btn-sm" href="{% url 'achat_create' %}"><i class="fas fa-plus"></i>  Ajouter achat</a>
<br/><br/>

{# TABLEAU INGREDIENTS #}
<div class="md-form mt-0">
  <input class="form-control w-25" type="text" placeholder="Rechercher" aria-label="Search" id="Achat-table-filter">
</div>
<br/>

<table class="table" id="Achat-table">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Ingredient</th>
      <th>Quantité</th>
      <th>Prix</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for achat in achats %}
    <tr>
      <td>{{ achat.date_achat }}</td>
      <td>{{ achat.ingredient }}</td>
      <td>{{ achat.quantite|floatformat}} kg</td>
      <td>{{ achat.prix|floatformat }} €</td>
      <td><a class="btn btn-outline-dark btn-sm" href="{% url 'achat_update' achat.id %}"><i class="fas fa-edit"></i></a></td>
      <td><a class="btn btn-outline-danger btn-sm" href="{% url 'achat_delete' achat.id %}"><i class="fas fa-times"></i></a></td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">Pas encore d'achat.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
 
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'brassin/js/brassin.js' %}"></script>
{% endblock %}
